/* common */
:root{
    --white: #FFFFFF;
    --heavenly: #B4D0E7;
    --black: #000000;
    --lightblue: #0061FF;
    --lightgreen: #A2D39B;
    --violet: #61082B;
    --skyblue: #0093CE;
    --red: #FF1C1C;
    --darkred: #D5001F;
    --verylightblue: #B4D0E7;
    --blue: #0D2481;
    --yellow: #FFD830;
    --grey: #D0D0D3;
    --darkgrey: #bdbdbe;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 150px auto;
}



.flexbox{
    display: flex;
}

.width30{
    width: 30%;
}

.width70{
    width: 70%;
}

.btn-lightblue:hover{
    cursor: pointer;
    background-color: #0062ffb2;
}
/* header */
header nav{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--white)
}

header h1{
    font-size: 76px;
    padding-bottom: 70px;
}

/* Nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    padding-top: 0px;
    font-size: 18px;
}

.left{
    display: flex;
    align-items: center;
}

.right{
    display: flex;
    align-items: center;
}
nav img{
    padding: 0 20px;
}

nav span{
    padding: 0 20px;
    cursor: pointer;
}

/* Box Hero */
#hero{
    background-color: var(--heavenly);
    padding-top: 80px;
}

#hero .container{
    position: relative;
    bottom: -80px;
}

#hero img{
    width: 100%;
}

#hero .btn-lightblue{
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 12px 20px;
}

.fa-arrow-down{
    font-size: 50px;
    padding-top: 50px;
    color: var(--black);
}

/* Bottoni nav */

.accedi{
    display: block;
    border: none;
    background-color: var(--white);
    font-size: 18px;
    padding: 15px 30px;
    text-align: center;
}

.accedi:hover{
    cursor: pointer;
    color: #dad6d6;
}

.btn-lightblue{
    display: block;
    border: none;
    background-color: var(--lightblue);
    color: var(--white);
    font-size: 18px;
    padding: 8px 18px;
    text-align: center;
}

.margin{
    margin-right: 10px;
}

.btn-card{
    display: block;
    width: 100%;
    margin: 15px auto;
    padding: 12px 20px;
    font-size: 15px;
}

/* Main */
h2{
    font-size: 40px;
    padding-bottom: 60px;
}

main label{
    margin-right: 50px;
    cursor: pointer;
}

/* Card offerte */
#piani{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-card{
    display: flex;
    align-items: stretch;
}

.card{
    width: calc(100% / 3);
    margin-top: 50px;
    text-align: center;
    border: 1px solid var(--grey);
}

.cardbottom{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    border: 1px solid var(--grey);
}

.flex-bottom{
    display: flex;

}
.user{
    padding: 10px ;
    border-bottom: 1px solid  var(--grey);
}

h3 {
    font-size: 25px;
}
.text-card {
    display: flex;
    text-align: start;
    justify-content: flex-start;
    flex-flow: column;
    padding: 25px;
    font-size: 17px;
}

/* Ultimo elemento prima sezione */

.details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.details .btn-lightblue {
    white-space: nowrap;
}

.grey{
    color: var(--darkgrey);
    padding-bottom: 40px;
}

.card li {
    display: flex;
    padding-bottom: 20px;
    list-style-type: none;
}

.shop{
    padding: 30px 0;
}

a{
    color: #1800EE;
}

hr{
    width: 20%;
}

.info{
    padding-top: 20px;
}

.fa-check{
    color: var(--lightblue);
    font-weight: bold;
    font-size: 20px;
}

.card h4{
    padding: 45px 0;
}

.card2{
    margin-left: 40px;
    margin-right: 40px;
}

/* Seconda section */

.second img{
    width: 60%;
}

.second {
    display: flex;
    justify-content: flex-start;
}

.second h3{
    padding-bottom: 20px;
}

.second span{
    padding: 50px;
    line-height: 25px;
}

.second button{
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    padding: 15px 20px;
    border: 1px solid var(--black);
    font-size: 20px;
    margin-top: 20px;
}

.second button:hover{
    cursor: pointer;
    color: #dad6d6;
}

/* Terza section */

.cards3{
    display: flex;
    flex-wrap: wrap;
}
.minicards{
    width: calc((100% - 60px )/ 3);
}

.minicards img{
    width: 100%;
}

.third h3{
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 20px;
}

.third p{
    padding-bottom: 70px;
}

.third .scnd{
    margin: 0 20px;
}

/* Quinto container */

.fifth img{
    width: 50%;
    filter: invert(1);
}

.fifth .center img{
    filter: none;
    padding-bottom: 40px;
}

.center, .txt{
    padding: 40px 0;
}
.fifth .center{
    width: calc(100% - 60vw);
    padding: 100px;
    overflow-y: auto;
}

.left-box, .right-box{
    width: 30vw;
    display: flex;
    flex-flow: row wrap;
}

.flex-squaresection{
    display: flex;
}

.flex-square{
    display: flex;
    justify-content: center;
    align-items: center;

}

.lightgreen{
    background-color: var(--lightgreen);
    width: 15vw;
    height: 15vw;
}

.purple{
    background-color: var(--violet);
    width: 15vw;
    height: 15vw;
}

.lightblue{
    background-color: var(--lightblue);
    width: 15vw;
    height: 15vw;
}

.red{
    background-color: var(--red);
    width: 15vw;
    height: 15vw;
}

        /* Right */
.darkred{
    background-color: var(--darkred);
    width: 15vw;
    height: 15vw;
}

.heaven{
    background-color: var(--heavenly);
    width: 15vw;
    height: 15vw;
}

.blue{
    background-color: var(--blue);
    width: 15vw;
    height: 15vw;
}

.yellow{
    background-color: var(--yellow);
    width: 15vw;
    height: 15vw;
}

/* Sesta section */

.sixth{
    display: flex;
    background-color: var(--heavenly);
    width: 100%;
    padding: 150px;
}

.sixth h2{
    color: #61082B;
    padding-bottom: 0px;
}
.flexsix{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sixth button{
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    padding: 15px 60px;
    border: none;
    font-size: 20px;
}

.sixth button:hover{
    cursor: pointer;
    color: #dad6d6;
}
/* Settima sezione */
.seventh hr{
    width: 100%;
}

.quest p{
    padding: 40px 0;
}

.quest{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.answer{
    display: none;
    padding-bottom: 15px;
}

.quest:hover + .answer{
    display: inline-block;
    /* cursor: pointer; */
}


/* footer */
footer{
    background-color: var(--black);
    color: var(--white);
    padding: 100px;
}

.flexfooter{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
footer h4{
    font-size: 30px;
    padding-bottom: 30px;
}

footer li{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: var(--white);
    line-height: 35px;
}

footer nav{
    padding-bottom: 170px;
}

.lingua{
    padding-top: 100px;
}

footer button{
    border: none;
    background-color: var(--black);
    color: var(--grey);
    font-size: 20px;
    cursor: pointer;
}

.fa-earth-americas{
    padding-right: 5px;
}
