/* common */
:root{
    --white: #FFFFFF;
    --heavenly: #B4D0E7;
    --black: #000000;
    --lightblue: #0061FF;
    --lightgreen: #A2D39B;
    --violet: #61082B;
    --skyblue: #0093CE;
    --red: #FF1C1C;
    --darkred: #D5001F;
    --verylightblue: #B4D0E7;
    --blue: #0D2481;
    --yellow: #FFD830;
    --grey: #D0D0D3;
    --darkgrey: #bdbdbe;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 150px auto;
}

.flexbox{
    display: flex;
}

.width30{
    width: 30%;
}

.width70{
    width: 70%;
}
/* header */
header nav{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--white)
}

header h1{
    font-size: 76px;
    padding-bottom: 70px;
}

/* Nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    padding-top: 0px;
    font-size: 18px;
}

.left{
    display: flex;
    align-items: center;
}

.right{
    display: flex;
    align-items: center;
}
nav img{
    padding: 0 20px;
}

nav span{
    padding: 0 20px;
}

/* Box Hero */
#hero{
    background-color: var(--heavenly);
    padding-top: 80px;
}

#hero .container{
    position: relative;
    bottom: -80px;
}

#hero img{
    width: 100%;
}

#hero .btn-lightblue{
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 12px 20px;
}

.fa-arrow-down{
    font-size: 60px;
    padding-top: 60px;
}

/* Bottoni nav */

.accedi{
    display: block;
    border: none;
    background-color: var(--white);
    font-size: 18px;
    padding: 15px 30px;
    text-align: center;
}

.btn-lightblue{
    display: inline-block;
    border: none;
    background-color: var(--lightblue);
    color: var(--white);
    font-size: 18px;
    padding: 8px 18px;
    text-align: center;
}

.margin{
    margin-right: 10px;
}

.btn-card{
    display: block;
    width: 100%;
    margin: 15px auto;
    padding: 12px 20px;
    font-size: 15px;
}
/* Main */

h2{
    font-size: 40px;
    padding-bottom: 60px;
}

main label{
    margin-right: 50px;
}

/* Card offerte */
#piani{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-card{
    display: flex;
    align-items: stretch;
}

.card{
    width: calc(100% -20/ 3);
    margin-top: 50px;
    text-align: center;
    border: 1px solid var(--grey);
}

.cardbottom{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    border: 1px solid var(--grey);
}

.flex-bottom{
    display: flex;

}
.user{
    padding: 10px ;
    border-bottom: 1px solid  var(--grey);
}

h3 {
    font-size: 25px;
}
.text-card {
    display: flex;
    text-align: start;
    justify-content: flex-start;
    flex-flow: column;
    padding: 25px;
    font-size: 17px;
}

.grey{
    color: var(--darkgrey);
    padding-bottom: 40px;
}

li {
    display: flex;
    padding-bottom: 20px;
    list-style-type: none;
}

.shop{
    padding: 30px 0;
}

a{
    color: #1800EE;
}

hr{
    width: 20%;
}

.info{
    padding-top: 20px;
}
.fa-check{
    color: var(--lightblue);
    font-weight: bold;
    font-size: 20px;
}

h4{
    padding: 45px 0;
}

.card2{
    margin-left: 40px;
    margin-right: 40px;
}

/* Seconda section */

.second img{
    width: 60%;
}

.second {
    display: flex;
    justify-content: flex-start;
}
.second h3{
    padding-bottom: 20px;
}
.second span{
    padding: 50px;
    line-height: 25px;
}
.second button{
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    padding: 15px 20px;
    border: 1px solid var(--black);
    font-size: 20px;
    margin-top: 20px;
}






/* footer */
footer{
    background-color: var(--black);
    color: var(--white);
}

